@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39;);
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap&#39;);

:root {
    --laranja-claro:#ff862a;/*definir uma css para a css
}
rby{
    font-size: 1rem; /*tamanho de fonte base (geralmente 16px)*/
    font-family: 'Montserrat';/*fonte principal do site*/
}
/*estilo do cabeçalho*/
header{background-color: #ffffff;/* fundo braco para o cabeçalho*/
}
/*seções gerais*/
section{
    padding-bottom: 5rem; /*epasamento inferior grande para seções*/
}
/*links de navegação*/
.nav-link{
    color: #cb6d43; /*cor marrom-alaranjada para os link*/
    font-weight: 600; /*texto em negrito*/
}
